sudo: required
services:
  - docker

  before_install:
    - docker build -t sadilegend/docker-react -f Dockerfile.dev .

    script:
      - docker run sadilegend/docker-react npm run test -- --coverage